.btn {
    border: 2px solid black;
    font-size: 16px;
    padding: 10px;
    background-color: white;
    cursor: pointer;
    color: black;
    border-radius: 5px;
    margin: 100px 0 20px 600px;
}

.btn-info {
    border-color: 2px solid #5fe8f1;
}

.btn-info:hover {
    background-color: #5fe8f1;
    border: 2px solid #c6f5f8;
    color: #fff;
}
